/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$area-icon-name: 'area-icon';
$area-icon-x: 116px;
$area-icon-y: 11px;
$area-icon-offset-x: -116px;
$area-icon-offset-y: -11px;
$area-icon-width: 9px;
$area-icon-height: 9px;
$area-icon-total-width: 126px;
$area-icon-total-height: 112px;
$area-icon-image: 'sprite.png';
$area-icon: (116px, 11px, -116px, -11px, 9px, 9px, 126px, 112px, 'sprite.png', 'area-icon', );
$bath-icon-name: 'bath-icon';
$bath-icon-x: 116px;
$bath-icon-y: 74px;
$bath-icon-offset-x: -116px;
$bath-icon-offset-y: -74px;
$bath-icon-width: 6px;
$bath-icon-height: 9px;
$bath-icon-total-width: 126px;
$bath-icon-total-height: 112px;
$bath-icon-image: 'sprite.png';
$bath-icon: (116px, 74px, -116px, -74px, 6px, 9px, 126px, 112px, 'sprite.png', 'bath-icon', );
$bed-icon-name: 'bed-icon';
$bed-icon-x: 43px;
$bed-icon-y: 101px;
$bed-icon-offset-x: -43px;
$bed-icon-offset-y: -101px;
$bed-icon-width: 13px;
$bed-icon-height: 9px;
$bed-icon-total-width: 126px;
$bed-icon-total-height: 112px;
$bed-icon-image: 'sprite.png';
$bed-icon: (43px, 101px, -43px, -101px, 13px, 9px, 126px, 112px, 'sprite.png', 'bed-icon', );
$black-car-icon-name: 'black-car-icon';
$black-car-icon-x: 16px;
$black-car-icon-y: 101px;
$black-car-icon-offset-x: -16px;
$black-car-icon-offset-y: -101px;
$black-car-icon-width: 15px;
$black-car-icon-height: 11px;
$black-car-icon-total-width: 126px;
$black-car-icon-total-height: 112px;
$black-car-icon-image: 'sprite.png';
$black-car-icon: (16px, 101px, -16px, -101px, 15px, 11px, 126px, 112px, 'sprite.png', 'black-car-icon', );
$black-locker-name: 'black-locker';
$black-locker-x: 116px;
$black-locker-y: 0px;
$black-locker-offset-x: -116px;
$black-locker-offset-y: 0px;
$black-locker-width: 10px;
$black-locker-height: 11px;
$black-locker-total-width: 126px;
$black-locker-total-height: 112px;
$black-locker-image: 'sprite.png';
$black-locker: (116px, 0px, -116px, 0px, 10px, 11px, 126px, 112px, 'sprite.png', 'black-locker', );
$black-pats-name: 'black-pats';
$black-pats-x: 31px;
$black-pats-y: 101px;
$black-pats-offset-x: -31px;
$black-pats-offset-y: -101px;
$black-pats-width: 12px;
$black-pats-height: 11px;
$black-pats-total-width: 126px;
$black-pats-total-height: 112px;
$black-pats-image: 'sprite.png';
$black-pats: (31px, 101px, -31px, -101px, 12px, 11px, 126px, 112px, 'sprite.png', 'black-pats', );
$car-icon-big-name: 'car-icon-big';
$car-icon-big-x: 0px;
$car-icon-big-y: 101px;
$car-icon-big-offset-x: 0px;
$car-icon-big-offset-y: -101px;
$car-icon-big-width: 16px;
$car-icon-big-height: 11px;
$car-icon-big-total-width: 126px;
$car-icon-big-total-height: 112px;
$car-icon-big-image: 'sprite.png';
$car-icon-big: (0px, 101px, 0px, -101px, 16px, 11px, 126px, 112px, 'sprite.png', 'car-icon-big', );
$car-icon-name: 'car-icon';
$car-icon-x: 102px;
$car-icon-y: 93px;
$car-icon-offset-x: -102px;
$car-icon-offset-y: -93px;
$car-icon-width: 11px;
$car-icon-height: 8px;
$car-icon-total-width: 126px;
$car-icon-total-height: 112px;
$car-icon-image: 'sprite.png';
$car-icon: (102px, 93px, -102px, -93px, 11px, 8px, 126px, 112px, 'sprite.png', 'car-icon', );
$check-icon-name: 'check-icon';
$check-icon-x: 116px;
$check-icon-y: 60px;
$check-icon-offset-x: -116px;
$check-icon-offset-y: -60px;
$check-icon-width: 9px;
$check-icon-height: 7px;
$check-icon-total-width: 126px;
$check-icon-total-height: 112px;
$check-icon-image: 'sprite.png';
$check-icon: (116px, 60px, -116px, -60px, 9px, 7px, 126px, 112px, 'sprite.png', 'check-icon', );
$checkbox-check-name: 'checkbox-check';
$checkbox-check-x: 116px;
$checkbox-check-y: 67px;
$checkbox-check-offset-x: -116px;
$checkbox-check-offset-y: -67px;
$checkbox-check-width: 9px;
$checkbox-check-height: 7px;
$checkbox-check-total-width: 126px;
$checkbox-check-total-height: 112px;
$checkbox-check-image: 'sprite.png';
$checkbox-check: (116px, 67px, -116px, -67px, 9px, 7px, 126px, 112px, 'sprite.png', 'checkbox-check', );
$dollar-name: 'dollar';
$dollar-x: 116px;
$dollar-y: 38px;
$dollar-offset-x: -116px;
$dollar-offset-y: -38px;
$dollar-width: 6px;
$dollar-height: 12px;
$dollar-total-width: 126px;
$dollar-total-height: 112px;
$dollar-image: 'sprite.png';
$dollar: (116px, 38px, -116px, -38px, 6px, 12px, 126px, 112px, 'sprite.png', 'dollar', );
$facebook-icon-name: 'facebook-icon';
$facebook-icon-x: 38px;
$facebook-icon-y: 31px;
$facebook-icon-offset-x: -38px;
$facebook-icon-offset-y: -31px;
$facebook-icon-width: 22px;
$facebook-icon-height: 20px;
$facebook-icon-total-width: 126px;
$facebook-icon-total-height: 112px;
$facebook-icon-image: 'sprite.png';
$facebook-icon: (38px, 31px, -38px, -31px, 22px, 20px, 126px, 112px, 'sprite.png', 'facebook-icon', );
$fireplace-icon-name: 'fireplace-icon';
$fireplace-icon-x: 102px;
$fireplace-icon-y: 13px;
$fireplace-icon-offset-x: -102px;
$fireplace-icon-offset-y: -13px;
$fireplace-icon-width: 12px;
$fireplace-icon-height: 14px;
$fireplace-icon-total-width: 126px;
$fireplace-icon-total-height: 112px;
$fireplace-icon-image: 'sprite.png';
$fireplace-icon: (102px, 13px, -102px, -13px, 12px, 14px, 126px, 112px, 'sprite.png', 'fireplace-icon', );
$for-rent-icon-name: 'for-rent-icon';
$for-rent-icon-x: 35px;
$for-rent-icon-y: 58px;
$for-rent-icon-offset-x: -35px;
$for-rent-icon-offset-y: -58px;
$for-rent-icon-width: 35px;
$for-rent-icon-height: 23px;
$for-rent-icon-total-width: 126px;
$for-rent-icon-total-height: 112px;
$for-rent-icon-image: 'sprite.png';
$for-rent-icon: (35px, 58px, -35px, -58px, 35px, 23px, 126px, 112px, 'sprite.png', 'for-rent-icon', );
$for-sale-icon-name: 'for-sale-icon';
$for-sale-icon-x: 0px;
$for-sale-icon-y: 58px;
$for-sale-icon-offset-x: 0px;
$for-sale-icon-offset-y: -58px;
$for-sale-icon-width: 35px;
$for-sale-icon-height: 23px;
$for-sale-icon-total-width: 126px;
$for-sale-icon-total-height: 112px;
$for-sale-icon-image: 'sprite.png';
$for-sale-icon: (0px, 58px, 0px, -58px, 35px, 23px, 126px, 112px, 'sprite.png', 'for-sale-icon', );
$gallery-next-name: 'gallery-next';
$gallery-next-x: 19px;
$gallery-next-y: 0px;
$gallery-next-offset-x: -19px;
$gallery-next-offset-y: 0px;
$gallery-next-width: 19px;
$gallery-next-height: 58px;
$gallery-next-total-width: 126px;
$gallery-next-total-height: 112px;
$gallery-next-image: 'sprite.png';
$gallery-next: (19px, 0px, -19px, 0px, 19px, 58px, 126px, 112px, 'sprite.png', 'gallery-next', );
$gallery-prev-name: 'gallery-prev';
$gallery-prev-x: 0px;
$gallery-prev-y: 0px;
$gallery-prev-offset-x: 0px;
$gallery-prev-offset-y: 0px;
$gallery-prev-width: 19px;
$gallery-prev-height: 58px;
$gallery-prev-total-width: 126px;
$gallery-prev-total-height: 112px;
$gallery-prev-image: 'sprite.png';
$gallery-prev: (0px, 0px, 0px, 0px, 19px, 58px, 126px, 112px, 'sprite.png', 'gallery-prev', );
$google-icon-name: 'google-icon';
$google-icon-x: 0px;
$google-icon-y: 81px;
$google-icon-offset-x: 0px;
$google-icon-offset-y: -81px;
$google-icon-width: 21px;
$google-icon-height: 20px;
$google-icon-total-width: 126px;
$google-icon-total-height: 112px;
$google-icon-image: 'sprite.png';
$google-icon: (0px, 81px, 0px, -81px, 21px, 20px, 126px, 112px, 'sprite.png', 'google-icon', );
$kitchen-icon-name: 'kitchen-icon';
$kitchen-icon-x: 102px;
$kitchen-icon-y: 66px;
$kitchen-icon-offset-x: -102px;
$kitchen-icon-offset-y: -66px;
$kitchen-icon-width: 11px;
$kitchen-icon-height: 13px;
$kitchen-icon-total-width: 126px;
$kitchen-icon-total-height: 112px;
$kitchen-icon-image: 'sprite.png';
$kitchen-icon: (102px, 66px, -102px, -66px, 11px, 13px, 126px, 112px, 'sprite.png', 'kitchen-icon', );
$like-name: 'like';
$like-x: 70px;
$like-y: 31px;
$like-offset-x: -70px;
$like-offset-y: -31px;
$like-width: 24px;
$like-height: 20px;
$like-total-width: 126px;
$like-total-height: 112px;
$like-image: 'sprite.png';
$like: (70px, 31px, -70px, -31px, 24px, 20px, 126px, 112px, 'sprite.png', 'like', );
$locker-icon-big-name: 'locker-icon-big';
$locker-icon-big-x: 102px;
$locker-icon-big-y: 53px;
$locker-icon-big-offset-x: -102px;
$locker-icon-big-offset-y: -53px;
$locker-icon-big-width: 11px;
$locker-icon-big-height: 13px;
$locker-icon-big-total-width: 126px;
$locker-icon-big-total-height: 112px;
$locker-icon-big-image: 'sprite.png';
$locker-icon-big: (102px, 53px, -102px, -53px, 11px, 13px, 126px, 112px, 'sprite.png', 'locker-icon-big', );
$locker-icon-name: 'locker-icon';
$locker-icon-x: 116px;
$locker-icon-y: 29px;
$locker-icon-offset-x: -116px;
$locker-icon-offset-y: -29px;
$locker-icon-width: 8px;
$locker-icon-height: 9px;
$locker-icon-total-width: 126px;
$locker-icon-total-height: 112px;
$locker-icon-image: 'sprite.png';
$locker-icon: (116px, 29px, -116px, -29px, 8px, 9px, 126px, 112px, 'sprite.png', 'locker-icon', );
$magnifing-glass-name: 'magnifing-glass';
$magnifing-glass-x: 102px;
$magnifing-glass-y: 41px;
$magnifing-glass-offset-x: -102px;
$magnifing-glass-offset-y: -41px;
$magnifing-glass-width: 12px;
$magnifing-glass-height: 12px;
$magnifing-glass-total-width: 126px;
$magnifing-glass-total-height: 112px;
$magnifing-glass-image: 'sprite.png';
$magnifing-glass: (102px, 41px, -102px, -41px, 12px, 12px, 126px, 112px, 'sprite.png', 'magnifing-glass', );
$map-icon-big-name: 'map-icon-big';
$map-icon-big-x: 60px;
$map-icon-big-y: 31px;
$map-icon-big-offset-x: -60px;
$map-icon-big-offset-y: -31px;
$map-icon-big-width: 9px;
$map-icon-big-height: 13px;
$map-icon-big-total-width: 126px;
$map-icon-big-total-height: 112px;
$map-icon-big-image: 'sprite.png';
$map-icon-big: (60px, 31px, -60px, -31px, 9px, 13px, 126px, 112px, 'sprite.png', 'map-icon-big', );
$map-icon-name: 'map-icon';
$map-icon-x: 82px;
$map-icon-y: 81px;
$map-icon-offset-x: -82px;
$map-icon-offset-y: -81px;
$map-icon-width: 14px;
$map-icon-height: 16px;
$map-icon-total-width: 126px;
$map-icon-total-height: 112px;
$map-icon-image: 'sprite.png';
$map-icon: (82px, 81px, -82px, -81px, 14px, 16px, 126px, 112px, 'sprite.png', 'map-icon', );
$map-marker-name: 'map-marker';
$map-marker-x: 116px;
$map-marker-y: 50px;
$map-marker-offset-x: -116px;
$map-marker-offset-y: -50px;
$map-marker-width: 7px;
$map-marker-height: 10px;
$map-marker-total-width: 126px;
$map-marker-total-height: 112px;
$map-marker-image: 'sprite.png';
$map-marker: (116px, 50px, -116px, -50px, 7px, 10px, 126px, 112px, 'sprite.png', 'map-marker', );
$menu-icon-name: 'menu-icon';
$menu-icon-x: 43px;
$menu-icon-y: 81px;
$menu-icon-offset-x: -43px;
$menu-icon-offset-y: -81px;
$menu-icon-width: 20px;
$menu-icon-height: 19px;
$menu-icon-total-width: 126px;
$menu-icon-total-height: 112px;
$menu-icon-image: 'sprite.png';
$menu-icon: (43px, 81px, -43px, -81px, 20px, 19px, 126px, 112px, 'sprite.png', 'menu-icon', );
$pets-icon-big-name: 'pets-icon-big';
$pets-icon-big-x: 102px;
$pets-icon-big-y: 0px;
$pets-icon-big-offset-x: -102px;
$pets-icon-big-offset-y: 0px;
$pets-icon-big-width: 14px;
$pets-icon-big-height: 13px;
$pets-icon-big-total-width: 126px;
$pets-icon-big-total-height: 112px;
$pets-icon-big-image: 'sprite.png';
$pets-icon-big: (102px, 0px, -102px, 0px, 14px, 13px, 126px, 112px, 'sprite.png', 'pets-icon-big', );
$pets-icon-name: 'pets-icon';
$pets-icon-x: 116px;
$pets-icon-y: 20px;
$pets-icon-offset-x: -116px;
$pets-icon-offset-y: -20px;
$pets-icon-width: 9px;
$pets-icon-height: 9px;
$pets-icon-total-width: 126px;
$pets-icon-total-height: 112px;
$pets-icon-image: 'sprite.png';
$pets-icon: (116px, 20px, -116px, -20px, 9px, 9px, 126px, 112px, 'sprite.png', 'pets-icon', );
$question-symbol-name: 'question-symbol';
$question-symbol-x: 116px;
$question-symbol-y: 83px;
$question-symbol-offset-x: -116px;
$question-symbol-offset-y: -83px;
$question-symbol-width: 7px;
$question-symbol-height: 7px;
$question-symbol-total-width: 126px;
$question-symbol-total-height: 112px;
$question-symbol-image: 'sprite.png';
$question-symbol: (116px, 83px, -116px, -83px, 7px, 7px, 126px, 112px, 'sprite.png', 'question-symbol', );
$search-icon-little-name: 'search-icon-little';
$search-icon-little-x: 91px;
$search-icon-little-y: 58px;
$search-icon-little-offset-x: -91px;
$search-icon-little-offset-y: -58px;
$search-icon-little-width: 11px;
$search-icon-little-height: 11px;
$search-icon-little-total-width: 126px;
$search-icon-little-total-height: 112px;
$search-icon-little-image: 'sprite.png';
$search-icon-little: (91px, 58px, -91px, -58px, 11px, 11px, 126px, 112px, 'sprite.png', 'search-icon-little', );
$search-icon-name: 'search-icon';
$search-icon-x: 63px;
$search-icon-y: 81px;
$search-icon-offset-x: -63px;
$search-icon-offset-y: -81px;
$search-icon-width: 19px;
$search-icon-height: 19px;
$search-icon-total-width: 126px;
$search-icon-total-height: 112px;
$search-icon-image: 'sprite.png';
$search-icon: (63px, 81px, -63px, -81px, 19px, 19px, 126px, 112px, 'sprite.png', 'search-icon', );
$slider-next-name: 'slider-next';
$slider-next-x: 70px;
$slider-next-y: 0px;
$slider-next-offset-x: -70px;
$slider-next-offset-y: 0px;
$slider-next-width: 32px;
$slider-next-height: 31px;
$slider-next-total-width: 126px;
$slider-next-total-height: 112px;
$slider-next-image: 'sprite.png';
$slider-next: (70px, 0px, -70px, 0px, 32px, 31px, 126px, 112px, 'sprite.png', 'slider-next', );
$slider-prev-name: 'slider-prev';
$slider-prev-x: 38px;
$slider-prev-y: 0px;
$slider-prev-offset-x: -38px;
$slider-prev-offset-y: 0px;
$slider-prev-width: 32px;
$slider-prev-height: 31px;
$slider-prev-total-width: 126px;
$slider-prev-total-height: 112px;
$slider-prev-image: 'sprite.png';
$slider-prev: (38px, 0px, -38px, 0px, 32px, 31px, 126px, 112px, 'sprite.png', 'slider-prev', );
$stove-icon-name: 'stove-icon';
$stove-icon-x: 102px;
$stove-icon-y: 27px;
$stove-icon-offset-x: -102px;
$stove-icon-offset-y: -27px;
$stove-icon-width: 11px;
$stove-icon-height: 14px;
$stove-icon-total-width: 126px;
$stove-icon-total-height: 112px;
$stove-icon-image: 'sprite.png';
$stove-icon: (102px, 27px, -102px, -27px, 11px, 14px, 126px, 112px, 'sprite.png', 'stove-icon', );
$twitter-icon-name: 'twitter-icon';
$twitter-icon-x: 70px;
$twitter-icon-y: 58px;
$twitter-icon-offset-x: -70px;
$twitter-icon-offset-y: -58px;
$twitter-icon-width: 21px;
$twitter-icon-height: 20px;
$twitter-icon-total-width: 126px;
$twitter-icon-total-height: 112px;
$twitter-icon-image: 'sprite.png';
$twitter-icon: (70px, 58px, -70px, -58px, 21px, 20px, 126px, 112px, 'sprite.png', 'twitter-icon', );
$washer-icon-name: 'washer-icon';
$washer-icon-x: 102px;
$washer-icon-y: 79px;
$washer-icon-offset-x: -102px;
$washer-icon-offset-y: -79px;
$washer-icon-width: 10px;
$washer-icon-height: 14px;
$washer-icon-total-width: 126px;
$washer-icon-total-height: 112px;
$washer-icon-image: 'sprite.png';
$washer-icon: (102px, 79px, -102px, -79px, 10px, 14px, 126px, 112px, 'sprite.png', 'washer-icon', );
$wishlist-name: 'wishlist';
$wishlist-x: 21px;
$wishlist-y: 81px;
$wishlist-offset-x: -21px;
$wishlist-offset-y: -81px;
$wishlist-width: 22px;
$wishlist-height: 19px;
$wishlist-total-width: 126px;
$wishlist-total-height: 112px;
$wishlist-image: 'sprite.png';
$wishlist: (21px, 81px, -21px, -81px, 22px, 19px, 126px, 112px, 'sprite.png', 'wishlist', );
$spritesheet-width: 126px;
$spritesheet-height: 112px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($area-icon, $bath-icon, $bed-icon, $black-car-icon, $black-locker, $black-pats, $car-icon-big, $car-icon, $check-icon, $checkbox-check, $dollar, $facebook-icon, $fireplace-icon, $for-rent-icon, $for-sale-icon, $gallery-next, $gallery-prev, $google-icon, $kitchen-icon, $like, $locker-icon-big, $locker-icon, $magnifing-glass, $map-icon-big, $map-icon, $map-marker, $menu-icon, $pets-icon-big, $pets-icon, $question-symbol, $search-icon-little, $search-icon, $slider-next, $slider-prev, $stove-icon, $twitter-icon, $washer-icon, $wishlist, );
$spritesheet: (126px, 112px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: '../images/' + nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprite-pseudo($sprite, $where) {
  &:#{$where} {
    content: "";
    display: inline-block;
    vertical-align: middle;
    @include sprite($sprite);
  }
}

@mixin sprite-pseudo-center($sprite, $where) {
  &:#{$where} {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: calc(#{nth($sprite, 5)} / 2 * -1);
    margin-top: calc(#{nth($sprite, 6)} / 2 * -1);
    @include sprite($sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
