# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea
.htaccess
error_log


#Ignore path that contain modules for develop theme.
sites/all/modules/browsersync

#Ignore performance modules for local development.
sites/all/modules/redis
sites/all/libraries/predis