.facet-search-block {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: $white;
  padding-bottom: 6px;

  #views-exposed-form-search-results-ctrader-page-1 {
    .views-exposed-widget {
      float: none;
      padding: 0;
    }

    .form-type-textfield {
      input[type="text"] {
        background: none;
        box-shadow: none;
        border-color: darken($athens-gray, 6);
        font-size: rem-calc(12);
        color: $mirage;
        padding: 0 15px;
        margin-bottom: 8px;

        &:focus {
          border-color: darken($athens-gray, 15);
        }

        @include placeholder {
          color: $mirage;
        }
      }
    }

    label {
      @extend h5.pane-title;
    }

    #autocomplete {
      border-color: darken($athens-gray, 6);
      border-top: none;

      .search-api-autocomplete-suggestion {
        padding: 0 15px;
        font-size: rem-calc(14);
        color: $mirage;

        .autocomplete-user-input {
          color: darken($mirage, 5);
        }

        .autocomplete-suggestion-results {
          right: 10px;
        }
      }
    }

  }

  #edit-submit-search-results-ctrader {
    display: none;
    visibility: hidden;
  }

  h5.pane-title {
    font-family: "Raleway", sans-serif;
    font-size: rem-calc(11);
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    display: inline-block;
    float: left;
    font-weight: 100;
    text-transform: uppercase;
  }

  .form-item {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .panel-separator {
    margin: 0;
    padding: 0;
    clear: both;
  }

  .panels-flexible-region-inside {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }

  .panels-flexible-region-inside-first {
    padding-left: 1.9em;
  }

  .panels-flexible-region-inside-last {
    padding-right: 1.3em;
  }

  #search-api-ranges-field_lp_dol__torcond {
    .facet-helper {
      span {
        &:before {
          content: "$";
        }
      }
    }
  }

  #search-api-ranges-field_sqft_range_max__torcond {
    .facet-helper {
      span {
        &.max {
          &:after {
            content: "SQFT";
            margin-left: 3px;
          }
        }
      }
    }
  }

  .facet-helper {
    font-size: rem-calc(10);
    color: $ecstasy;
    text-align: right;

    span {
      &.min {
        &:after {
          content: "-";
          margin-left: 3px;
        }
      }
    }
  }

  .search-api-ranges-widget {
    height: 6px;
    border: none;
    background: $athens-gray;
    box-shadow: none;
    margin-bottom: 21px;
    margin-top: 21px;

    .noUi-connect {
      @extend %gradient-background;
      height: 6px;
    }

    .noUi-handle {
      top: -5px;
      background: $white;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
      outline: none;
      border: 1px solid $mirage;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      left: 0;

      &.noUi-handle-upper {
        left: -10px;
      }

      &:before,
      &:after {
        display: none;
        visibility: hidden;
      }
    }
  }

  .facetapi-facetapi-checkbox-links {
    list-style: none;

    &.facetapi-facet-field-s-r--torcond {
      list-style: none;
      max-width: 300px;
      width: 100%;
      margin: 20px auto;
      padding-bottom: 40px;

      li {
        width: 50%;
        display: inline-block;
        margin: 0;

        &.first {
          float: left;
        }

        &.last {
          float: right;
        }

        .facetapi-facet {
          a {
            text-transform: uppercase;
            color: white;
            font-family: "Raleway", sans-serif;
            font-weight: bold;
            background: $mirage;
            display: block;
            margin-right: 0;
            text-align: center;
            font-size: rem-calc(12);
            padding: 10px 0;

            &.facetapi-checkbox {
              display: none;
            }
            
            @include transition(box-shadow .2s ease-in-out);

            &:hover {
              box-shadow: 0 0 10px rgba(0,0,0,.3);
              @include transition(box-shadow .2s ease-in-out);
            }
          }

          &.active-region-facet {
            a {
              @extend %gradient-background;
            }
          }
        }
      }

      input {
        display: none;
      }
    }

    &.facetapi-facet-field-br--torcond {
      a {
        &.facetapi-checkbox {
          display: none;
        }
      }
    }
  }

  .facetapi-facet-field-locker--torcond,
  .facetapi-facet-field-prkg-inc--torcond,
  .facetapi-facet-field-pets--torcond,
  .facetapi-facet-field-patio-ter--torcond,
  .facetapi-facet-field-ens-lndry--torcond {
    li {
      margin: 0;

      input[type="checkbox"] {
        display: none;
      }

      a {
        color: $mirage;
        font-size: rem-calc(12);
        background: $athens-gray;
        display: block;
        margin: 0;
        border: 1px solid darken($athens-gray, 7);
        padding: 5px 10px;
        position: relative;

        &.facetapi-checkbox {
          display: none;
        }

        &:before {
          margin-right: 6px;
        }

        &.checked-facet {
          &:after {
            background: url('../images/checkbox-check.png') 2px 3px no-repeat white;
          }
        }

        &:after {
          content: '';
          width: 15px;
          height: 15px;
          background: $white;
          border: 1px solid darken($athens-gray, 7);
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 7px;
        }
      }
    }

  }

  .facetapi-facet-field-prkg-inc--torcond {
    a {
      @include sprite-pseudo($black-car-icon, 'before');
    }
  }

  .facetapi-facet-field-locker--torcond {
    a {
      @include sprite-pseudo($black-locker, 'before');
    }
  }

  .facetapi-facet-field-pets--torcond {
    a {
      @include sprite-pseudo($black-pats, 'before');
    }
  }

  .facetapi-facet-field-patio-ter--torcond {
    a {
      @include sprite-pseudo($balcony-icon, 'before');
    }
  }

  .facetapi-facet-field-ens-lndry--torcond {
    a {
      @include sprite-pseudo($laundry-icon, 'before');
    }
  }

  #-ctrader-saf-search-button-form {
    .form-submit {
      @extend %gradient-background;
      display: block;
      width: 100%;
      padding: 13px 0;
      @include sprite-pseudo($search-icon-little, 'before');
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      font-size: rem-calc(12);
      text-transform: uppercase;
      @include transition(box-shadow .2s ease-in-out);
      outline: none;

      &:before {
        margin-right: 2px;
      }

      &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        @include transition(box-shadow .2s ease-in-out);
      }
    }
  }

  .facetapi-facet-field-br--torcond {
    clear: both;

    li {
      margin: 0 0 13px;
      width: calc((100% / 6));
      display: inline-block;
      text-align: center;
      float: left;

      .facetapi-facet {
        border: 1px solid $ecstasy;

        &.active-region-facet {
          background: $ecstasy;

          a {
            color: $white;
          }
        }
      }

      &:not(:first-child) {
        .facetapi-facet {
          border-left: none;
        }

        a {
          &:after {
            content: "+";
          }
        }
      }

      a {
        display: block;
        margin: 0;
        font-size: rem-calc(12);
        padding: 4px 0;
        color: $ecstasy;
      }

      input {
        display: none;
      }
    }
  }

  .facet-map-block {
    clear: both;
    margin-bottom: 11px;
    display: inline-block;
    margin-top: 1px;

    button {
      font-size: rem-calc(12);
      color: $ecstasy;
      padding: 5px 10px;
      background: none;
      border-width: 1px;
      border-style: solid;
      outline: none;
      margin-bottom: 0;

      &.facet-map-block-neighbourhood {
        border-color: $ecstasy;
        margin-right: 10px;
        @include transition(all .3s ease-in-out);

        &:hover,
        &.active {
          background: $ecstasy;
          color: $white;
          @include transition(all .3s ease-in-out);
        }
      }

      &.facet-map-block-map-search {
        color: $mirage;
        border-color: darken($athens-gray, 6);
        @include transition(background .3s ease-in-out);
        @include sprite-pseudo($map-icon, 'before');

        &:before {
          margin-top: -1px;
          margin-right: 5px;
        }

        &:hover,
        &.active {
          background: $athens-gray;
          @include transition(background .3s ease-in-out);
        }
      }
    }
  }

  .hierarchical-select {
    .form-type-hierarchical-select {
      label {
        font-family: "Raleway", sans-serif;
        font-size: rem-calc(11);
        -webkit-font-smoothing: antialiased;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        display: inline-block;
        float: left;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: .2rem;
      }
    }

    .selects {
      select {
        display: block;
        overflow: hidden;
        padding: 0 0 0 8px;
        height: 29px;
        border: 1px solid #e3e6eb;
        color: #192030;
        text-decoration: none;
        white-space: nowrap;
        line-height: 30px;
        font-size: 12px;
        background-color: $white;
        max-width: 228px;
        width: 100%;
        outline: none;
        float: none;

        &:not(:last-child) {
          margin-bottom: 7px;
        }
      }
    }
  }

  .facet-search-block-submit-button {
    width: 29.7%;
  }

  .sale-rent-radio {
    display: none;
    visibility: hidden;
  }

  @media #{$small-only} {
    .panels-flexible-region {
      width: 100%;

      &>div {
        padding-left: 0.9rem;
        padding-right: 0.9rem;
      }
    }

    .facet-search-block-submit-button {
      width: 100%;
    }

    .hierarchical-select {
      .selects {
        select {
          max-width: inherit;
        }
      }
    }
  }
}

.pane-facet-tabs {
  margin: 0 auto;
  display: block;
  max-width: 300px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: rem-calc(12);
  text-transform: uppercase;
  padding-left: 20px;

  a {
    padding: 8px;
    border-top-right-radius: 4px;
    display: inline-block;
    position: relative;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: -20px;
      top: 0;
      width: 0;
      height: 0;
      border-bottom: 34px solid;
      border-left: 20px solid transparent;
    }
  }

  .find-condo-tab {
    background: $white;
    color: $ecstasy;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 20px;

    &:before {
      border-bottom-color: $white;
    }

    @include sprite-pseudo($magnifing-glass, 'after');

    &:after {
      position: absolute;
      left: 6px;
      top: 10px;
    }
  }

  .sell-condo-tab {
    color: $black;
    background: $ecstasy;
    padding-left: 22px;
    padding-right: 20px;

    &:before {
      border-bottom-color: $ecstasy;
    }

    @include sprite-pseudo($dollar, 'after');

    &:after {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
}