.leaflet-container {
  svg.tracer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
    pointer-events: none;
  }

  div.polygon-elbow {
    -webkit-transition: opacity .25s;
    box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
    border: 5px solid $ecstasy;
    border-radius: 10px;
    transition: opacity 0.25s;
    cursor: move;
    opacity: 1;
    pointer-events: all;
    box-sizing: border-box;
    width: 0 !important;
    height: 0 !important;
  }

  .tracer.leaflet-clickable {
    transition: all 0.25s;
    stroke-width: 4px;
    stroke-opacity: 1;
    stroke: #F47523;
    position: absolute;
    z-index: 1001;
    fill: #F47523;
    fill-opacity: .75;
    -webkit-filter: none;
  }

  .drawing-line {
    stroke: $ecstasy;
  }

  .marker-cluster-small,
  .marker-cluster-medium{
    background: none;

    div {
      background-color: rgba(254, 113, 23, 0.88);
    }

    span {
      color: $white;
    }
  }
}

.free-draw-tools {
  display: none;

  &.active {
    display: block;
  }

  .map-draw-icon {
    background: url(../images/pencil.svg) center center no-repeat $white;

    &.active {
      background-color: #7FCB26;
    }
  }

  .map-delete-icon {
    background: url(../images/remove.svg) center center no-repeat $white;

    &.active {
      background-color: #CC0909;
    }
  }

  .map-draw-icon,
  .map-delete-icon {
    height: 26px;
    width: 26px;
    background-size: 13px;
  }

}

.leaflet-control-attribution {
  display: none;
  visibility: hidden;
}