.mCSB_scrollTools {
  .mCSB_draggerRail {
    border-color: darken($athens-gray, 4) !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
  }

  .mCSB_dragger_bar {
    width: 6px !important;
    margin: 3px auto !important;
    background-color: $ecstasy !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}