.swiper-button-next,
.swiper-button-prev {
  background-image: none !important;
  width: 32px !important;
  height: 31px !important;
  margin: 0 !important;
  opacity: 1 !important;
}

.swiper-button-next {
  @include sprite-pseudo($slider-next, 'before');
}

.swiper-button-prev {
  @include sprite-pseudo($slider-prev, 'before');
}