.swiper-button-next,
.swiper-button-prev {
  background-image: none !important;
  width: 32px !important;
  height: 31px !important;
  margin: 0 !important;
  opacity: 1 !important;
}

.swiper-button-next {
  @include pseudo-element("before", 32px, 31px, "slider-next.png", "not-center");
}

.swiper-button-prev {
  @include pseudo-element("before", 32px, 31px, "slider-prev.png", "not-center");
}