.neighbourhoods-hierarchical {
  padding: 0;
  margin: 0;
  border: none;
}

.neighbourhoods-hierarchical .selects {
  width: 100%;

}

.neighbourhoods-hierarchical select {
  margin: 0;
  height: 30px;
  width: 100%;
  padding: 0 0 0 5px;
  font-size: 12px;
}

#mini-panel-search_facets_toronto_condos_ .form-type-hierarchical-select button,
#mini-panel-search_facets_toronto_condos_ .facetapi-facetapi-select-dropdowns button {
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  line-height: 1px;
}


.front .newly-listed .view-homepage-view-blocks .views-row .views-fieldset .views-field-nothing .field-content,
.front .nearby-listed .views-row .views-fieldset .views-field-nothing .field-content,
.page-search-results .view-search-results-ctrader .view-content .views-row .views-fieldset .views-field-nothing .field-content,
.page-drealty-listing .pane-nearby-listings .views-row .views-fieldset .views-field-nothing .field-content {
  font-size: .75rem;
  color: #929191;
  line-height: 10px;
}

.front .newly-listed .view-homepage-view-blocks .views-row .views-fieldset .views-field-nothing .field-content:before,
.front .nearby-listed .views-row .views-fieldset .views-field-nothing .field-content:before,
.page-search-results .view-search-results-ctrader .view-content .views-row .views-fieldset .views-field-nothing .field-content:before,
.page-drealty-listing .pane-nearby-listings .views-row .views-fieldset .views-field-nothing .field-content:before {
  margin-right: 4px;
  float: left;
}

.front .view-lowest-price-block .views-row .views-fieldset .views-field-nothing .field-content,
.front .view-highest-price-block .views-row .views-fieldset .views-field-nothing .field-content,
.front .view-most-viewed-block .views-row .views-fieldset .views-field-nothing .field-content {
  font-size: .75rem;
  color: #929191;
  line-height: 10px;
}

.front .view-lowest-price-block .views-row .views-fieldset .views-field-nothing .field-content:before,
.front .view-highest-price-block .views-row .views-fieldset .views-field-nothing .field-content:before,
.front .view-most-viewed-block .views-row .views-fieldset .views-field-nothing .field-content:before {
  margin-right: 4px;
  float: left;
}
