.page-logout,
.page-node-129,
.page-node-128 {
  .body {
    text-align: center;
    padding: 15rem 0;
    p {
      font-size: rem-calc(30);
      text-transform: uppercase;
    }
  }
}

.page-contact {
  .main {
    max-width: 500px;
    width: 100%;
    margin: 30px auto;
    border: 1px solid darken($athens-gray, 6);
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);

    .pane-title {
      font-size: rem-calc(30);
      text-transform: uppercase;
    }

    .submitted {
      margin-bottom: 20px;
    }

    .field {
      margin-bottom: 10px;
    }

    .field-label {
      font-weight: bold;
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      font-size: rem-calc(13);
    }

    label {
      font-size: rem-calc(11);
      text-transform: uppercase;;
    }

    .form-submit {
      @extend %condo-more-button;
      max-width: 200px;
      width: 100%;
      margin: 10px auto;
      display: block;
    }
  }
}

.page-sell-a-condo {
  .main {
    max-width: 800px;
    margin: 15px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 0 15px;
  }

  input {
    margin-bottom: 0;
  }

  #edit-submit {
    margin: 30px auto;
    display: block;

    &:hover {
      color: $white;
    }

    @extend %condo-more-button;
  }
}

.page-eform-sell-a-condo-confirm {
  .main {
    text-align: center;
    padding: 15rem 0;
    background: $alabaster;

    p {
      font-size: 1.375rem;
      text-transform: uppercase;
    }
  }
}