.node-type-blog-post {
  .header {
    text-align: center;
    color: $white;
    background-size: cover;
    background-position: center;
  }

  .body {
    max-width: 800px;
    width: 100%;
    margin: 25px auto;

    p {
      font-size: rem-calc(16);
      color: $gray;
      line-height: rem-calc(26);
      text-align: justify;
    }
  }

  .field-name-field-blog-image {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 20px;

    img {
      min-width: 100%;
    }
  }

  .blog-title {
    font-family: "Raleway", sans-serif;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 8px 15px;
    background: rgba(25,32,48,0.8);
    margin: rem-calc(200) auto 0;
    font-size: 2.5rem;
  }

  .helper {
    padding-bottom: rem-calc(200);
    margin-top: 15px;

    span {
      background: rgba(25,32,48,0.9);
      padding: 4px 10px;
    }
  }
}

.view-blog-post-view {
  .views-field-field-blog-image {
    img {
      min-width: 100%;
    }
  }
}