//.alert-box.alert {
//  display: none;
//}

.l-messages.row {
  .columns {
    padding: 0;
    .alert-box.alert {
      margin-bottom: 0;
      ul.no-bullet {
        margin-bottom: 0;
      }
    }
  }
}

.page-drealty-listing {
  color: $ebony-clay;

  .panel-flexible .panel-separator {
    display: none;
    visibility: hidden;
  }

  .condo-center-row {
    border-bottom: 1px solid darken($athens-gray, 6);
  }

  .condo-gallery {
    margin-bottom: -6px;
  }

  .condo-page-gallery {
    width: 78.5%;
    display: inline-block;
    float: left;

    .pane-content {
      height: 700px;
    }

    .swiper-slide {
      background: $ebony-clay;
      text-align: center;

      &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }

      img {
        @include transform(scale, 1.5);
        &[src=''],
        &:not([src]) {
          opacity: 0;
        }
      }
    }

    .gallery-slider-button-next,
    .gallery-slider-button-prev {
      width: 19px !important;
      height: 58px !important;
      top: 42.5%;


      &:before {
        width: 19px;
        height: 58px;
      }
    }

    .gallery-slider-button-next {
      right: 28px;
      @include sprite-pseudo($gallery-next, 'before');
    }

    .gallery-slider-button-prev {
      left: 28px;
      @include sprite-pseudo($gallery-prev, 'before');
    }
  }

  .condo-page-pagination {
    width: 21.5%;
    display: inline-block;
    padding: 0 25px;
    background: $ebony-clay;

    .pane-content {
      height: 700px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    img {
      width: 87%;
      cursor: pointer;
      height: 100%;
      &:hover {
        opacity: .8;
      }
    }

    .swiper-scrollbar {
      right: 2px;
      top: 4%;
      width: 10px;
      border: 1px solid darken($athens-gray, 6);
      height: 92%;

      .swiper-scrollbar-drag {
        width: 60%;
        background: $ecstasy;
        left: 2px;
        top: 0;
        cursor: pointer;
      }
    }
  }

  .panels-flexible-row {
    padding: 0;
  }

  .pane-sale-rent-label {
    .pane-content {
      background: $alabaster;
      padding: 7px 15px;
      display: inline-block;
      font-size: 1.125rem;
      border: 1px solid darken($athens-gray, 6);
      color: $manatee;
      line-height: 1.5rem;
      border-top: none;
    }
  }

  .condo-price {
    padding-left: 25px;
    float: left;

    .field {
      font-weight: bold;
      color: $white;
      background: $ecstasy;
      padding: 6px 15px;
      display: inline-block;
      font-size: rem-calc(18);
    }
  }

  .condo-buttons {
    margin-top: 20px;

    a {
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      font-size: rem-calc(12);
      text-transform: uppercase;
      color: $white;
      padding: 13px;
    }

    .buy-now {
      background: $ebony-clay;
    }

    .book-viewing {
      background: $ecstasy;
    }
  }

  .condo-left-side {
    .view-single-condo-view {
      .info-fieldset {
        @extend .centering;
        margin-top: 10px;
        clear: both;

        .condo-title {
          font-size: rem-calc(30);
          color: $ebony-clay;
          font-weight: bold;
          margin-bottom: 0;
        }
      }

      .views-field-nothing-8 {
        .field-content {
          @include sprite-pseudo($map-icon-big, 'before');
          font-size: rem-calc(16);

          &:before {
            margin-right: 5px;
            vertical-align: inherit;
          }
        }
      }

      .views-field-nothing {
        font-size: rem-calc(11);
        margin-top: 15px;

        .condo-info-element {
          margin-right: 12px;

          &:before {
            margin-right: 5px;
          }
        }

        .condo-info-element {
          &:before {
            vertical-align: inherit !important;
          }
        }

        .sqft {
          @include sprite-pseudo($area-icon, 'before');
        }

        .bed {
          @include sprite-pseudo($bed-icon, 'before');
        }

        .bath {
          @include sprite-pseudo($bath-icon, 'before');
        }

        .pets {
          @include sprite-pseudo($pets-icon, 'before');
        }

        .locker {
          @include sprite-pseudo($locker-icon, 'before');
        }

        .parking {
          @include sprite-pseudo($car-icon, 'before');
        }

      }

      .views-field-field-ad-text--torcond {
        margin-top: 32px;

        .views-label {
          font-size: rem-calc(18);
          font-weight: bold;
          display: block;
          border-bottom: 1px solid darken($athens-gray, 6);
          padding-bottom: 7px;
          margin-bottom: 16px;
        }

        .field-content {
          font-size: rem-calc(13);
          color: $manatee;
          line-height: rem-calc(24);
        }
      }

      .views-field-field-extras--torcond,
      .views-field-field-rltr--torcond,
      .views-field-field-ml-num--torcond {
        font-size: rem-calc(13);
        color: $manatee;
        line-height: rem-calc(24);

        .views-label {
          font-weight: bold;
          color: $ecstasy;
          float: left;
          text-transform: uppercase;
          margin-right: 3px;
        }
      }
    }
  }

  .pane-nearby-listings {
    background: $alabaster;
    position: relative;
    border-top: 1px solid darken($athens-gray, 6);

    .pane-title {
      padding: 41px 0 25px;
      margin-top: 0;
      @extend %condo-heading;
    }

    .views-row {
      @extend %condos-item;
    }

    .view-footer {
      @extend %condo-more;

      a {
        margin: 25px 0 60px;
      }
    }

    .nearby-listed-slider-button-next,
    .nearby-listed-slider-button-prev {
      top: 7% !important;
    }

    .nearby-listed-slider-button-next {
      right: 25px !important;
    }

    .nearby-listed-slider-button-prev {
      right: 60px !important;
      left: inherit;
    }
  }

  .condo-right-side {
    padding-left: 0;
    padding-right: 1.55rem;
    background: $alabaster;

    .inside {
      padding: 0;
      background: $white;
    }

    .pane-drealty-listing-field-lp-dol-torcond {
      .pane-title {
        display: none;
      }

      .field-name-field-lp-dol--torcond {
        background: $flamingo;
        font-size: rem-calc(18);
        color: $white;
        font-weight: bold;
        text-align: right;
        line-height: 44px;
        padding-right: 14px;

        .field-label {
          background: $ecstasy;
          font-size: rem-calc(14);
          font-weight: 100;
          padding: 17px 50px 22px 14px;
          line-height: 12px;
          position: relative;

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            right: -30px;
            width: 0;
            height: 0;
            border-top: 50px solid $ecstasy;
            border-right: 30px solid transparent;
          }
        }
      }
    }

    .pane-book-a-viewing-form {
      border: 1px solid darken($athens-gray, 6);
      border-top: none;
      border-bottom: none;
      padding: 0 14px;

      @keyframes flicker {
        10% {
          box-shadow: 0 0 10px rgba(255,0,0,.0);
        }

        50% {
          box-shadow: 0 0 10px rgba(255,0,0,.5);
        }

        100% {
          box-shadow: 0 0 10px rgba(255,0,0,.0);
        }
      }

      .alert-form {
        -webkit-animation: flicker 2s ease-in-out infinite;
        -moz-animation: flicker 2s ease-in-out infinite;
        -o-animation: flicker 2s ease-in-out infinite;
        animation: flicker 2s ease-in-out infinite;
      }

      label {
        color: $mirage;
        font-family: "Raleway", sans-serif;
        font-size: rem-calc(11);
      }

      input[type='text'] {
        height: 31px;
        box-shadow: none;
        border-color: darken($athens-gray, 6);
        font-size: rem-calc(12);
        margin-bottom: 0;

        &:focus {
          background: $white;
        }
      }

      button.form-submit,
      .field-name-field-buy-now-button a {
        display: block;
        width: 100%;
        font-family: "Raleway",sans-serif;
        font-weight: bold;
        font-size: rem-calc(12);
        text-transform: uppercase;
        text-align: center;
        color: $white;
        padding: 13px 0;
        margin-bottom: 11px;
        @include transition(box-shadow .3s ease-in-out);
        line-height: 1;

        &:hover {
          box-shadow: 0 0 10px rgba(0,0,0,.2);
          @include transition(box-shadow .3s ease-in-out);
        }
      }

      .button.form-submit {
        background: $ecstasy;
      }

      .field-name-field-buy-now-button a {
        background: $ebony-clay;
        margin-bottom: 0;
      }

      .form-item {
        &:first-child {
          margin: 0;
          padding-top: 15px;
        }
      }
    }

    .pane-drealty-listing {
      text-align: center;
      border: 1px solid darken($athens-gray, 6);
      border-top: none;
      padding: 10px 0 15px;

      a {
        color: $ecstasy;
        font-family: "Raleway", sans-serif;
        font-size: rem-calc(12);
        text-decoration: underline;
      }
    }

    .pane-addtoany-addtoany-button {
      display: block;
      max-width: 137px;
      width: 100%;
      margin: 6px auto;

      .pane-title {
        font-size: rem-calc(12);
        float: left;
        padding: 4px 7px;
        margin-right: 5px;
      }

      .pane-content {
        float: left;

        a {
          padding: 0;
        }

        .a2a_svg {
          width: 21px !important;
          height: 20px !important;
          background-size: inherit !important;
        }

        .a2a_s_twitter {
          @include sprite($twitter-icon);
        }

        .a2a_s_facebook {
          @include sprite($facebook-icon);
        }

        .a2a_s_google_plus {
          @include sprite($google-icon);
        }
      }
    }
  }

  .condo-center {
    background: $alabaster;
    border-left: 1px solid darken($athens-gray, 6);

    fieldset {
      border: none;
      margin: 20px 0;
      padding: 0 16px;

      legend {
        font-weight: bold;
        font-size: rem-calc(18);
        color: $ebony-clay;
        background: none;
        border-bottom: 1px solid darken($athens-gray, 6);
        display: block;
        width: 100%;
        margin: 0;
        padding: 6px 0;
        margin-bottom: 18px;
      }

      &.top-center-fieldset,
      &.amentities-fieldset,
      &.mortgage-calculator {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: rem-calc(14);
        color: $manatee;
      }

      &.top-center-fieldset {
        .views-field-nothing-2 {
          .field-content {
            font-weight: bold;
          }
        }

        .views-field {
          clear: both;
          overflow: auto;
          margin-bottom: 3px;
        }

        .views-label {
          float: left;
          font-weight: bold;
        }

        .field-content {
          float: right;
        }
      }

      &.amentities-fieldset {
        .views-field {
          margin-bottom: 10px;
          display: block;
        }

        span {
          font-weight: bold;
        }

        .field-content {
          &.pets {
            @include sprite-pseudo($pets-icon-big, 'before');
            &:before {
              margin-right: 12px;
            }
          }

          &.parking {
            @include sprite-pseudo($car-icon-big, 'before');
            &:before {
              margin-right: 10px;
            }
          }

          &.locker {
            @include sprite-pseudo($locker-icon-big, 'before');
            &:before {
              margin-right: 15px;
            }
          }

          &.fireplace {
            @include sprite-pseudo($fireplace-icon, 'before');
            &:before {
              margin-right: 13px;
            }
          }

          &.washer {
            @include sprite-pseudo($washer-icon, 'before');
            &:before {
              margin-right: 15px;
            }
          }

          &.kitchen {
            @include sprite-pseudo($kitchen-icon, 'before');
            &:before {
              margin-right: 14px;
            }
          }

          &.stove {
            @include sprite-pseudo($stove-icon, 'before');
            &:before {
              margin-right: 14px;
            }
          }
        }
      }

      &.mortgage-calculator {
        width: 44%;
        label {
          text-transform: uppercase;
          font-size: rem-calc(11);
        }

        legend {
          margin-bottom: 15px;
        }

        .form-item {
          margin-bottom: 4px;
          margin-top: 4px;
        }

        .form-submit {
          font-family: "Raleway", sans-serif;
          font-size: rem-calc(12);
          display: block;
          width: 100%;
          margin: 20px 0;
          @extend %condo-more-button;
        }
      }

    }


  }

  @media #{$medium-only} {
    .condo-page-gallery {
      width: 100%;

      .pane-content {
        height: inherit;
      }

      .swiper-slide {
        img {
          @include transform(scale, 1);



        }
      }

      .gallery-slider-button-next,
      .gallery-slider-button-prev {
        top: 36.5%;
      }

      .gallery-slider-button-next {
        right: 15px;
      }

      .gallery-slider-button-prev {
        left: 15px;
      }
    }

    .condo-page-pagination {
      width: 100%;

      .pane-content {
        height: inherit;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .swiper-scrollbar {
        display: none;
      }
    }

    .condo-center-row {
      .panels-flexible-region {
        width: 100%;
      }
    }

    .condo-center {
      fieldset {
        &.amentities-fieldset,
        &.top-center-fieldset {
          width: 49%;
        }

        &.mortgage-calculator {
          width: 100%;
        }
      }
    }

    .condo-right-side {
      padding-right: 0;
    }

    .leaflet-container {
      touch-action: inherit;
      -ms-touch-action: inherit;
    }
  }

  @media #{$small-only} {
    .condo-page-gallery {
      width: 100%;

      .pane-content {
        height: inherit;
      }

      .swiper-slide {
        img {
          @include transform(scale, 1);
        }
      }

      .gallery-slider-button-next,
      .gallery-slider-button-prev {
        top: 36.5%;
      }

      .gallery-slider-button-next {
        right: 15px;
      }

      .gallery-slider-button-prev {
        left: 15px;
      }
    }

    .condo-page-pagination {
      width: 100%;

      .pane-content {
        height: inherit;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      
      .swiper-scrollbar {
        display: none;
      }
    }

    .condo-center-row {
      .panels-flexible-region {
        width: 100%;
      }
    }

    .condo-center {
      fieldset {
        &.amentities-fieldset,
        &.top-center-fieldset,
        &.mortgage-calculator {
          width: 100%;
        }
      }
    }

    .condo-right-side {
      padding-right: 0;
    }

    .leaflet-container {
      touch-action: inherit;
      -ms-touch-action: inherit;
    }
  }
}