.front {
  .panels-flexible-row {
    padding: 0;
  }

  .newly-listed {
    background-color: $alabaster;
    border-top: 1px solid darken($athens-gray, 1);
    border-bottom: 1px solid darken($athens-gray, 1);
    position: relative;

    .newly-listed-slider-button-next,
    .newly-listed-slider-button-prev {
      top: 2% !important;
    }

    .newly-listed-slider-button-next {
      right: 25px !important;
    }

    .newly-listed-slider-button-prev {
      right: 60px !important;
      left: inherit;
    }

    .pane-title {
      padding: 22px 0 25px;
      margin-top: 0;
    }

    .view-homepage-view-blocks {
      .views-row {
        @extend %condos-item;
      }

      .view-footer {
        @extend %condo-more;
      }
    }
  }

  .view-lowest-price-block,
  .view-highest-price-block,
  .view-most-viewed-block {
    margin-top: 28px;

    .views-row {
      @extend %condos-item-small;
    }

    .view-footer {
      @extend %condo-more;
    }
  }

  .pane-title {
    @extend %condo-heading;
  }

  .front-facet-search {
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: $white;

    h5.pane-title {
      font-family: "Raleway", sans-serif;
      font-size: rem-calc(11);
      -webkit-font-smoothing: antialiased;
      text-shadow: 1px 1px 1px rgba(0,0,0,.2);
      display: inline-block;
      float: left;
    }

    .panels-flexible-region-inside {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }

    .panels-flexible-region-inside-first {
      padding-left: 1.5em;
    }

    .panels-flexible-region-inside-last {
      padding-right: 1.5em;
    }

    .facet-helper {
      font-size: rem-calc(10);
      color: $ecstasy;
      text-align: right;
    }

    .search-api-ranges-widget {
      .range-box,
      .form-submit {
        display: none;
        visibility: hidden;
      }

      .range-slider {
        height: 4px;
        border: none;
        background: $athens-gray;

        .ui-slider-range {
          @extend %gradient-background;
          height: 6px;
        }

        .ui-slider-handle {
          top: -5px;
          background: $white;
          box-shadow: 0 0 10px rgba(0,0,0,.2);
          outline: none;
          border: 1px solid $mirage;
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }
      }
    }

    .facetapi-facetapi-checkbox-links {
      list-style: none;

      &.facetapi-facet-field-s-r--torcond {
        list-style: none;
        max-width: 300px;
        width: 100%;
        margin: 20px auto;
        padding-bottom: 50px;

        li {
          width: 50%;
          display: inline-block;
          margin: 0;

          &.first {
            float: left;
          }

          &.last {
            float: right;
          }

          .facetapi-facet {
            a {
              text-transform: uppercase;
              color: white;
              font-family: "Raleway", sans-serif;
              font-weight: bold;
              background: $mirage;
              display: block;
              margin-right: 0;
              text-align: center;
              font-size: rem-calc(12);
              padding: 10px 0;
              @include transition(box-shadow .2s ease-in-out);

              &:hover {
                box-shadow: 0 0 10px rgba(0,0,0,.3);
                @include transition(box-shadow .2s ease-in-out);
              }
            }

            &.active-region-facet {
              a {
                @extend %gradient-background;
              }
            }
          }
        }

        input {
          display: none;
        }
      }
    }

    .facetapi-facet-field-locker--torcond,
    .facetapi-facet-field-prkg-inc--torcond,
    .facetapi-facet-field-pets--torcond {
      li {
        margin: 0;

        input[type="checkbox"] {
          display: none;
        }

        a {
          color: $mirage;
          font-size: rem-calc(12);
          background: $athens-gray;
          display: block;
          margin: 0;
          border: 1px solid darken($athens-gray, 7);
          padding: 5px 10px;
          position: relative;

          &:before {
            margin-right: 6px;
          }

          &.checked-facet {
            &:after {
              background: url('../images/checkbox-check.png') 2px 3px no-repeat white;
            }
          }

          &:after {
            content: '';
            width: 15px;
            height: 15px;
            background: $white;
            border: 1px solid darken($athens-gray, 7);
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 7px;
          }
        }
      }

    }

    .facetapi-facet-field-prkg-inc--torcond {
      a {
        @include pseudo-element('before', 15px, 11px, 'black-car-icon.png', 'not-center');
      }
    }

    .facetapi-facet-field-locker--torcond {
      a {
        @include pseudo-element('before', 10px, 11px, 'black-locker.png', 'not-center');
      }
    }

    .facetapi-facet-field-pets--torcond {
      a {
        @include pseudo-element('before', 12px, 11px, 'black-pats.png', 'not-center');
      }
    }

    #-ctrader-saf-search-button-form {
      .form-submit {
        @extend %gradient-background;
        display: block;
        width: 100%;
        padding: 13px 0;
        @include pseudo-element('before', 11px, 11px, 'search-icon-little.png', 'not-center');
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: rem-calc(12);
        text-transform: uppercase;
        @include transition(box-shadow .2s ease-in-out);
        outline: none;

        &:before {
          margin-right: 2px;
        }

        &:hover {
          box-shadow: 0 0 10px rgba(0,0,0,.2);
          @include transition(box-shadow .2s ease-in-out);
        }
      }
    }

    .facetapi-facet-field-br--torcond {
      clear: both;

      li {
        margin: 0;
        width: calc((100% / 5) - 0.1%);
        display: inline-block;
        text-align: center;
        margin-right: -4px;

        .facetapi-facet {
          border: 1px solid $ecstasy;

          &.active-region-facet {
            background: $ecstasy;

            a {
              color: $white;
            }
          }
        }

        &:not(:first-child) {
          .facetapi-facet {
            border-left: none;
          }

          a {
            &:after {
              content: "+";
            }
          }
        }

        a {
          display: block;
          margin: 0;
          font-size: rem-calc(12);
          padding: 4px 0;
          color: $ecstasy;
        }

        input {
          display: none;
        }
      }
    }
  }

  .front-center-block {
    margin: 55px 0;

    .pane-title {
      border-bottom: 1px solid $ecstasy;
      padding-bottom: 4px;
    }
  }

  .recent-post-front {
    background-color: $alabaster;
    border-top: 1px solid darken($athens-gray, 1);
    position: relative;

    .pane-title {
      padding: 22px 0 25px;
      margin-top: 0;
    }

    .recent-post-front-slider-button-next,
    .recent-post-front-slider-button-prev {
      top: 4% !important;
    }

    .recent-post-front-slider-button-next {
      right: 25px !important;
    }

    .recent-post-front-slider-button-prev {
      right: 60px !important;
      left: inherit;
    }

    .recent-blog-post {
      padding-bottom: 70px;

      .views-row {
        display: inline-block;
        width: calc((100% / 4) - 22px);
        margin-right: 25px;
        color: $mirage;
        padding: 18px;
        background: $white;
        border: 1px solid darken($athens-gray, 1);
        font-size: rem-calc(13);

        &:nth-child(4n) {
          margin-right: 0;
        }

        .views-field-title {
          a {
            font-family: "Raleway", sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            margin: 10px 0 5px;
            color: $mirage;
            display: block;
          }
        }

        .views-field-created {
          font-family: "OpenSans", sans-serif;
          font-style: italic;
          color: $ecstasy;
        }

        .views-field-body {
          color: $jumbo;
          margin-top: 6px;

          p {
            line-height: rem-calc(18);
            font-size: rem-calc(13);
            margin-bottom: 0;
          }
        }

        .views-field-view-node {
          @extend %condo-more;

          a {
            padding: 10px 25px;
            margin: 30px 0 0;
          }
        }
      }
    }
  }


}