// Non-modular or client styles for .l-header region.
.l-header {
  .top-bar {
    height: 3.75rem;
    line-height: 3.75rem;
    position: relative;

    @extend %gradient-background;

    .top-bar-section {
      padding-right: 25px;

      ul {
        li {
          background: transparent;
          @include transition(background .2s ease-in-out);

          &:hover {
            background: lighten($flamingo, 5);
            @include transition(background .2s ease-in-out);
          }
        }
      }

      .user-buttons {
        li {
          a {
            background-color: $flamingo;
            height: 60px;
            border-left: 1px solid rgba($white, .3);
            padding: 0 28px;
            position: relative;
            @include transition(background-color .2s ease-in-out);

            &:hover {
              background-color: lighten($flamingo, 5);
              @include transition(background-color .2s ease-in-out);
            }

            &:last-child {
              border-right: 1px solid rgba($white, .3);
            }

            &.wishlist {
              @include pseudo-element('before', 22px, 19px, 'wishlist.png', 'center');
            }

            &.search {
              @include pseudo-element('before', 19px, 19px, 'search-icon.png', 'center');
            }

            &.menu-button {
              @include pseudo-element('before', 20px, 19px, 'menu-icon.png', 'center');
            }

          }
        }

        #searchmenu-form {
          width: 0;
          max-width: 260px;
          @include transition(all .3s ease-in-out);

          &.search-visible {
            width: 100%;
            @include transition(all .3s ease-in-out);
          }

          .form-item-query {
            margin: 0;
            padding-right: 20px;

            input[type="text"] {
              max-width: 260px;
              width: 100%;
              background: transparent;
              outline: none;
              border: none;
              box-shadow: none;
              color: white;
              font-size: rem-calc(13);
              @include placeholder {
                color: $white;
              }
            }
          }
        }

      }

      .logo-container {
        background: $white;
        padding: 0 40px 0 25px;
        position: relative;

        &:after {
          content: '';
          width: 0;
          height: 0;
          border-top: 60px solid $white;
          border-right: 37px solid transparent;
          position: absolute;
          right: -37px;
          top: 0;
        }

        .logo {
          max-width: 262px;
          width: 100%;
          margin-top: -8px;
        }
      }

      .user-links {
        li {
          &:last-child {
            margin-right: 30px;
          }

          a {
            font-family: "Raleway", sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 18px;
            background-color: inherit;
            color: $white;
          }
        }

      }

      #main-menu-nav-tree {
        display: none;
        width: 240px;
        height: 300px;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 99;
      }
      
      #main-menu-nav-tree ul:first-child {
        ul {
          display: none;
        }

        li {
          float: none;

          &.first-menu-nav {
            a {
              border-bottom: 1px solid rgba($white, .3);
              line-height: 19px;
              font-size: rem-calc(14);
              padding: 8px 20px 8px 25px;
              background: $mirage;
              -webkit-transition: padding .3s ease-in-out, background .3s ease-in-out;
              -moz-transition: padding .3s ease-in-out, background .3s ease-in-out;
              -o-transition: padding .3s ease-in-out, background .3s ease-in-out;
              transition: padding .3s ease-in-out, background .3s ease-in-out;
              font-weight: 100;

              &.menu-expanded {
                padding-bottom: 13px;
              }

              &.menu-expanded-next {
                padding-top: 13px;
              }

              &:hover {
                background: lighten($mirage, 6);
                @include transition(background .2s ease-in-out);
              }
            }
          }

          &.second-menu-nav {
            a {
              font-size: rem-calc(13);
              padding-left: 35px;
              @include hover-background($tango, .2s, ease-in-out);
            }
          }

          &.third-menu-nav {
            a {
              padding-left: 47px;
              border-bottom: none;
              @include hover-background($flamingo, .2s, ease-in-out);
            }
          }

          &.fourth-menu-nav {
            a {
              padding-left: 60px;
              background: $tango;
              @include hover-background($tango, .2s, ease-in-out);
              border-bottom: 1px solid rgba($white, .3);
            }

            &:last-child {
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}