// Non-modular or client styles for the .l-content region.
html .ajax-progress,
html .ajax-progress .throbber,
html .ajax-progress-throbber .throbber,
html .ajax-progress-throbber {
  display: none !important;
  visibility: hidden !important;
}

body {
  min-width: 320px;
}

.element-invisible {
  display: none;
  visibility: hidden;
}

.lazyloader-icon {
  min-width: 1% !important;
  top: 30% !important;
  left: 50% !important;
}