.page-search-results {
  .mCSB_scrollTools {
    .mCSB_dragger_bar {
      background-color: darken($athens-gray, 4) !important;
    }
  }

  .logo-container {
    &:before {
      content: "";
      border-bottom: 1px solid $athens-gray;
      position: absolute;
      bottom: 0;
      display: inline-block;
      height: 1px;
      width: 92.5%;
    }
  }

  .facet-search-block {
    max-width: 982px;
    padding: 0 28px 0 25px;
    margin: 0;

    .panels-flexible-region-inside {
      padding-left: 1em;
      padding-right: 1em;
    }

    .panels-flexible-region-inside-first {
      padding-left: 0;
    }

    .panels-flexible-region-inside-last {
      padding-right: 0;
    }

    .facet-top {
      float: left;

      .facetapi-facetapi-checkbox-links {
        &.facetapi-facet-field-s-r--torcond {
          max-width: 120px;
          margin: 16px auto;
          padding-bottom: 0;

          li {
            &.first,
            &.last {
              float: none;
            }

            &.first {
              a {
                @include pseudo-element("before", 35px, 23px, "for-sale-icon.png", "not-center");
                &:before {
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 3px;
                }
              }
            }

            &.last {
              a {
                @include pseudo-element("before", 35px, 23px, "for-rent-icon.png", "not-center");
                &:before {
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 3px;
                }
              }
            }

            a {
              max-width: 118px;
              width: 118px;
              padding: 18px 0;
            }
          }
        }
      }
    }

    .facet-bottom {
      float: right;
      max-width: 780px;
      width: 100%;
      padding: 6px 0;
    }

    .facet-map-block {
      button {
        &.facet-map-block-neighbourhood {
          margin-right: 22px;
        }
      }
    }

    .search-api-ranges-widget {
      margin-bottom: 32px;
    }

    .hierarchical-select .selects select {
      max-width: 248px;
    }
  }

  .panels-flexible-column-inside {
    padding: 0;
  }

  .results-page-result {
    background: $alabaster;
    border-top: 1px solid darken($athens-gray, 4);

    .panel-separator {
      display: none;
      visibility: hidden;
    }
  }

  .result-tab-block,
  .result-filter-block {
    display: inline-block;
  }

  .result-tab-block {
    width: 69.5%;
    background: $white;
    margin-right: -5px;
    border: 1px solid darken($athens-gray, 6);
    margin-left: 25px;
    padding: 2px 0 6px 0;

    a {
      color: $mirage;
      font-size: rem-calc(12);
      padding: 8px 8px;

      border-right: 1px solid darken($athens-gray, 6);
      @include transition(all .3s ease-in-out);

      &.active {
        background: $ecstasy;
        color: $white;
        border-right-color: $ecstasy;
        @include transition(all .3s ease-in-out);

        span {
          background: $ebony-clay;
        }
      }

      span {
        color: $white;
        background: $ecstasy;
        font-size: rem-calc(10);
        padding: 0 3px;
        line-height: 0;
        border-radius: 4px;
        margin-left: 3px
      }
    }
  }
  
  .result-filter-block {
    width: 27.5%;
    padding-right: 32px;
    padding-top: 17px;

    .views-exposed-widget {
      float: none;
      padding: 0;

      label {
        display: none;
        visibility: hidden;
      }

      .form-submit {
        display: none;
      }

      .chosen-single {
        height: 34px;
        background: $white;
        line-height: 31px;
      }
    }

  }

  .view-search-results-ctrader {
    .total-quantity {
      display: none;
      visibility: hidden;
    }

    .view-header {
      text-align: right;
      padding: 9px 39px 17px;
      font-size: rem-calc(14);
    }

    .view-content {
      padding: 0 0 0 25px;

      .views-row {
        @extend %condos-item;
        width: calc((100% / 3) - 35px);
        margin-bottom: 30px;
        margin-right: 30px;
        vertical-align: top;

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(4n) {
          margin-right: 30px;
        }

        .views-fieldset {
          .views-field-field-community-torcond {
            height: 40px;
            vertical-align: middle;
            display: table-cell;
            line-height: 15px;
          }
        }
      }

      .mCSB_container {
        margin-right: 0;
        padding-bottom: 70px;
      }
    }

    .item-list {
      display: none;
      visibility: hidden;
    }

    .view-empty {
      padding: 25px 0;

      p {
        font-size: rem-calc(30);
      }
    }
  }

  .search-results-load-more {
    position: absolute;
    bottom: 0;
    left: calc(50% - (148px / 2));

    @extend %condo-more-button;

    &.load {
      color: transparent;
      @include transition(color .2s ease-in-out);

      &:before {
        content: "";
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        background: transparent;
        top: 4px;
        left: calc(50% - 15px);
        @include transition(border-color .2s ease-in-out);
        border: 2px solid $white;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        -webkit-animation: rotate 1s ease-in-out infinite;
        -moz-animation: rotate 1s ease-in-out infinite;
        -o-animation: rotate 1s ease-in-out infinite;
        animation: rotate 1s ease-in-out infinite;
      }
    }
  }
}