.page-user-edit {
  .l-main {
    .main {
      .button-group, #edit-mimemail, #page-title, .has-tip {
        display: none !important;
      }
      width: 100%;
      margin: 3rem auto 10rem !important;
      button {
        @include fire-button();
      }
    }
  }
}