.page-user-wishlist {
  .view-empty {
    text-align: center;
    padding: 10rem 0;
    p {
      font-size: rem-calc(22);
      text-transform: uppercase;
    }
  }

  .view-header {
    @extend %condo-heading;
  }
  .view-id-flaged_condos_ {
    .views-row {
      @extend %condos-item;
    }
  }
}