.custom-autocomplete {
    display: none !important;
}

.custom-autocomplete.visible {
    position: absolute;
    top: 60px;
    z-index: 98;
    background: orangered;
    width: 100%;
    display: block !important;
}

.custom-autocomplete .custom-autocomplete-result {
    display: block;
    float: none;
}

.search-box-header {
    position: relative;
}

.search-box-header .loader.load {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    top: 22px;
    border: 1px solid white;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation: rotate 1s ease-in-out infinite;
    -moz-animation: rotate 1s ease-in-out infinite;
    -o-animation: rotate 1s ease-in-out infinite;
    animation: rotate 1s ease-in-out infinite;
}