// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin pseudo-element($where, $width, $height, $src, $center) {
  $path: "../images/" + $src;
  &:#{$where} {
    content: "";
    display: inline-block;
    width: $width;
    height: $height;
    background: url($path) 0 0 no-repeat;
    vertical-align: middle;
    @if $center == 'center' {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: calc(#{$width} / 2 * -1);
      margin-top: calc(#{$height} / 2 * -1);
    }
  }
}

@mixin font-face($family, $style, $weight, $src) {
  $filepath: "../fonts/" + $src + "/" + $src;
  @font-face {
    font-family: $family;
    src: url($filepath + ".eot");
    src: url($filepath + ".eot") format("embedded-opentype"),
    url($filepath + ".woff") format("woff"),
    url($filepath + ".ttf") format("truetype"),
    url($filepath + ".svg") format("svg");
    font-style: $style;
    font-weight: $weight;
  }
}

@mixin placeholder() {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin transition($body) {
  -webkit-transition: $body;
  -moz-transition: $body;
  -o-transition: $body;
  transition: $body;
}

@mixin hover-background($color, $time, $animation) {
  background: $color;
  @include transition(background $time $animation);
  &:hover {
    background: lighten($color, 6);
    @include transition(background $time $animation);
  }
}

@mixin transform($effect, $value) {
  transform: $effect + "(" + $value + ")";
  -webkit-transform: $effect + "(" + $value + ")";
  -moz-transform: $effect + "(" + $value + ")";
  -ms-transform: $effect + "(" + $value + ")";
}

@mixin fire-button() {
  display: block;
  width: 100%;
  font-family: "Raleway",sans-serif;
  font-weight: bold;
  font-size: rem-calc(12);
  text-transform: uppercase;
  text-align: center;
  color: $white;
  padding: 13px 0;
  margin-bottom: 11px;
  @include transition(box-shadow .3s ease-in-out);
  line-height: 1;
  background: #f47820;
  background: -moz-linear-gradient(left,#f47820 0,#f26236 73%,#f26236 100%);
  background: -webkit-gradient(left top,right top,color-stop(0%,#f47820),color-stop(73%,#f26236),color-stop(100%,#f26236));
  background: -webkit-linear-gradient(left,#f47820 0,#f26236 73%,#f26236 100%);
  background: -o-linear-gradient(left,#f47820 0,#f26236 73%,#f26236 100%);
  background: -ms-linear-gradient(left,#f47820 0,#f26236 73%,#f26236 100%);
  background: linear-gradient(to right,#f47820 0,#f26236 73%,#f26236 100%);
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    @include transition(box-shadow .3s ease-in-out);
  }
}